{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block 'body' %}
    <div class="container bg-light border border-secondary my-1 rounded-1 corpo">
        {% if not filmes %}
            <div class="card text-center cartao">
                <div class="card-body">
                <h5 class="card-title">Nenhuma Sessão Cadastrada:</h5>
                <i class="bi bi-camera-video-off camera_off"></i>
                <br>
                <p>Por favor, cadastre alguma sessão a partir do menu.</p>
                <a href="{% url 'cadastrar' %}" class="btn btn-primary">Cadastrar Filme</a>
                </div>
            </div>
        {% else %}
            <div class="container text-center area_util">
                <div class="row pointer_block">
                    <div class="col-3 separador">
                        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for filme in filmes %}
                                    {% if forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                            <img src="{{ filme.capa.url }}" class="d-block cartaz" alt="...">
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <img src="{{ filme.capa.url }}" class="d-block cartaz" alt="...">
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm filme_info">
                        <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for filme in filmes %}
                                    {% if forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                            <p class="d-block nome_filme">{{ filme.nome }}</p>
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <p class="d-block nome_filme">{{ filme.nome }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <br>
                                <br>
                                <hr>
                            </div>
                        </div>

                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for filme in filmes %}
                                    {% if forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                            <p class="d-block sinopse">{{ filme.sinopse }}</p>
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <p class="d-block sinopse">{{ filme.sinopse }}</p>
                                        </div>
                                    {% endif %}
                                {% endfor %}                                
                            </div>
                        </div>

                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for filme in filmes %}
                                    {% if forloop.counter == 1 %}
                                        <div class="carousel-item active">
                                            <div class="info_horarios">
                                                <p class="sala_exibicao">{{ filme.sala }}</p>
                                                <div class="lista_horarios">
                                                    {% for h in filme.horarios_filmes.all %}
                                                        <p class="d-block horarios">{{ h }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>         
                                        </div>
                                    {% else %}
                                        <div class="carousel-item">
                                            <div class="info_horarios">
                                                <p class="sala_exibicao">{{ filme.sala }}</p>
                                                <div class="lista_horarios">
                                                    {% for h in filme.horarios_filmes.all %}
                                                        <p class="d-block horarios">{{ h }}</p>
                                                    {% endfor %}
                                                </div>
                                            </div>  
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col info-cinema">
                        <p class="titulo_contato">Fale conosco</p>
                        <hr style="margin: 2px auto;">

                        <form action="{% url 'mensagem' %}" method="POST"> {% csrf_token %}

                            <div class="form_msg">
                                <div class="row formulario_contato">
                                    <label for="nome">Nome: </label>
                                    <input type="text" name="nome_contato" id="nome_pessoa" required>
                                </div>

                                <div class="row formulario_contato">
                                    <label for="email">E-mail: </label>
                                    <input type="email" name="email" id="email_pessoa" required>
                                </div>

                                <div class="row formulario_contato">
                                    <label for="mensagem">Mensagem: </label>
                                    <textarea class="text_area" name="mensagem" id="mensagem_pessoa" style="resize: none;" required></textarea>
                                </div>
                            </div>
                            
                            <div class="botoes">
                                <input class="btn btn-primary botao" type="submit" value="Submit">
                                <input class="btn btn-primary botao" type="reset" value="Reset">
                            </div>

                        </form>

                    </div>

                    <div class="col info-cinema local">
                        <p class="titulo-localizacao">Localização</p>
                        <hr style="margin: 2px auto;">
                        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1800.4116285059995!2d-49.257487532277274!3d-25.510940399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dcfb10f9349d53%3A0x637522686a2e3757!2sR.%20Waldemar%20Loureiro%20Campos%2C%203531%20-%20Boqueir%C3%A3o%2C%20Curitiba%20-%20PR%2C%2081720-180!5e0!3m2!1sen!2sbr!4v1671493917609!5m2!1sen!2sbr" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <p class="endereco">R. Waldemar Loureiro Campos, 3531 - Boqueirão, Curitiba - PR, 81720-180</p>
                    </div>

                </div>
            </div>
        {% endif %} 
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        {% for msg in messages %}

            swal('{{ msg }}', "Retornaremos seu contato em breve.", "success", {
                buttons: false,
                timer: 2000,
                });

        {% endfor %}
    </script>  
{% endblock %}